.bars {
  height: 105px;
  background-color: #9DDED7;
}

.bar {
  display: inline-block;
  border-bottom: 5px white solid;
}

.i {
  border-color: #6AD4D7;
}

.j {
  border-color: #4E67D7;
}

.largest {
  border-color: #D440D7;
}

.smallest {
  border-color: #26FF1F;
}

.title {
  margin-top: 10px;
  background-color: #000000;
}

.title a {
  font-weight: 400;
  padding-left: 10px;
  color: #ffffff;
  text-decoration: none;
}

.content {
  margin: 10px;
}
