.bars {
  height: 105px;
  background-color: #ADF8F1;
}

.bar {
  display: inline-block;
  border-bottom: 5px #132E51 solid;
}

.i,
.j {
  border-color: #e0e0e0;
}

.largest {
  border-color: #fb0120;
}

.smallest {
  border-color: #fda331;
}

.title {
  margin-top: 10px;
  background-color: #132E51;
  padding: 5px 0;
}

.title a {
  font-weight: 400;
  padding-left: 10px;
  color: #FFF;
  text-decoration: none;
}
